@font-face {
    font-family:'gyahegi';
    src: url(Gyahegi.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    /* flex: 2 2 150px; */
    color:#000000;
}

.menu {
    flex: 0.5;
    flex-wrap: wrap;
    /* background-color: antiquewhite; */
    padding: 5em;

    height:100vh;
    /* position: fixed; */

    border-right: solid #000000 1px;
}

.content {
    flex: 3.5;
    flex-wrap: wrap;
    /* padding: 5em; */
}


h1, h2 {
    font-family:'gyahegi';
}

h1 {
    font-size: 1.8rem;
    display: inline;
}

p, a {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    color:#000000; 
}


a {
    text-decoration: none;
    font-size: 1.2rem;
 
}

a:hover {
    text-decoration: underline;
}

ul li {
    list-style-type: none;
    margin-bottom: 0.4rem;
}

nav {
    margin-top: 3em;
}

img {
    width:100%;
    /* max-width:400px; */
    height:auto;
    /* max-width: 400px; */
}

#about {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-end;
    justify-content: space-evenly;
    flex:1;

    /* background-color: antiquewhite; */
    /* padding: 5em; */
    border-bottom: solid #000000 1px;
}

#about img {
    max-width:400px;
}

#about p {
    margin-left: 1em;
    flex:1;
   
}

#about,#work, #resume, #contact{
    padding: 3em 5em 5em 5em;
    border-bottom: solid #000000 1px;
}

.content h2 {
    margin-bottom: 1.5em;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 3em;    
}


.socials {
   margin-top:1rem;
 
}


main nav:nth-of-type(2) {
    display:none;
  }

